<div class="col-12" *ngFor="let r of restaurants">
    <div class="text-white font-weight-bold bg-dark p-2 w-100 my-2">{{r.name}}</div>

    <div class="pl-3 py-2">
        <strong>{{r.type}}</strong>
        <div class="pl-2 py-2 d-flex justify-content-between"  (click)="addPlate(plate)">
            <div>{{r.address}}</div>
        </div>
    </div>
</div>


<div class="view-order-button text-center w-100 text-center text-white font-weight-bold bg-dark p-2" [routerLink]="'/mi-pedido'">
    Ver mi pedido
</div>